@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

button {
  cursor: pointer; }

.transition, main form .form__container--btn .form__btn {
  transition: .2s all; }

.container {
  width: auto;
  max-width: 700px;
  margin: auto; }

.disable {
  cursor: not-allowed !important; }

.success, .error {
  display: inline-block;
  width: 100%;
  text-align: center; }

.success {
  color: #10a810; }

.error {
  color: #d71515; }

header {
  display: flex;
  justify-content: center;
  margin-top: 90px; }
  header .header__titulo {
    font-size: 20px;
    color: #00abe5;
    font-weight: 600; }

main .form__titulo {
  font-size: 23px;
  color: #00abe5;
  text-align: center; }

main form {
  width: 300px;
  margin: 30px auto; }
  main form .form__container {
    width: 100%;
    margin-bottom: 15px; }
    main form .form__container .form__label {
      width: 100%;
      font-size: 15px;
      font-weight: 300; }
    main form .form__container .form__input--nome, main form .form__container .form__input--email {
      width: 100%;
      margin-top: 5px;
      padding: 5px; }
      main form .form__container .form__input--nome:focus, main form .form__container .form__input--email:focus {
        border: 1px solid #00abe5;
        outline: none; }
  main form .form__container--btn {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
    main form .form__container--btn .form__btn {
      width: 100%;
      cursor: pointer;
      padding: 8px;
      background-color: #00abe5;
      border: none;
      color: white;
      font-weight: 300; }
      main form .form__container--btn .form__btn:hover {
        background-color: #3a3636; }
