main {
  margin-top: 70px;
  .form__titulo {
    font-size: 23px;
    color: $primary;
    text-align: center;
  }

  form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    .form__container {
      width: 45%;

      .form__label {
        width: 100%;
        font-size: 15px;
        font-weight: 300;
      }

      .form__input {
        width: 100%;
        margin-top: 5px;
        padding: 5px;

        &:focus {
          border: 1px solid $primary;
          outline: none;
        }
      }
    }

    .form__container--btn {
      margin: 0 20px;
      width: 100%;
      text-align: left;
      .form__btn {
        cursor: pointer;
        padding: 3px 8px;
        background-color: $primary;
        border: none;
        @extend .transition;
        color: white;
        font-weight: 300;

        &:hover {
          background-color: rgb(58, 54, 54);
        }
      }
    }
  }
}
